@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: linear-gradient(135deg, #fffafc, #ffe6f0);
  min-height: 100vh;
  font-size: 1.1rem;
}

#ollama-chat {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
#ollama-icon {
  width: 50px;
  cursor: pointer;
}
#chat-box {
  width: 300px;
  height: 400px;
  background: #181818;
  color: white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hidden {
  display: none;
}
